In [1]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
train = pd.read_csv('student feedback.csv')

In [3]:
train

         Id                                            comment  quality
0     45881  Rand was a good guy, really... he was. But I f...    awful
1     45881  He is brilliant in his field, but expects his ...     poor
2     45881  He has a major in philosophy which is why all ...    awful
3     45881  I thought his class was extremely hard but des...     good
4     45881  I recently just finished taking Comp 110 with ...     poor
...     ...                                                ...      ...
2340  64144  He's really disoriented, but a really cool guy...  average
2341  64144                                        No Comments     good
2342  64144                                           Horrible  average
2343  64144                                        No Comments    awful
2344  64144                                        No Comments    awful

[2345 rows x 3 columns]

In [4]:
#
train=train.dropna()

In [5]:
#train.loc[train['labels']== -1, 'labels'] = 'worry'
#train.loc[train['labels']== 0 , 'labels'] = 'sadness'
#train.loc[train['labels']== 1, 'labels'] = 'neutral'

In [6]:
train

         Id                                            comment  quality
0     45881  Rand was a good guy, really... he was. But I f...    awful
1     45881  He is brilliant in his field, but expects his ...     poor
2     45881  He has a major in philosophy which is why all ...    awful
3     45881  I thought his class was extremely hard but des...     good
4     45881  I recently just finished taking Comp 110 with ...     poor
...     ...                                                ...      ...
2340  64144  He's really disoriented, but a really cool guy...  average
2341  64144                                        No Comments     good
2342  64144                                           Horrible  average
2343  64144                                        No Comments    awful
2344  64144                                        No Comments    awful

[2345 rows x 3 columns]

In [7]:
train['quality'].unique()

array(['awful', 'poor', 'good', 'awesome', 'average'], dtype=object)

In [8]:
train.loc[train['quality']== 'awful', 'quality'] = 'worry'
train.loc[train['quality']== 'average' , 'quality'] = 'worry'
train.loc[train['quality']== 'poor' , 'quality'] = 'sadness'

train.loc[train['quality']== 'awesome', 'quality'] = 'neutral'
train.loc[train['quality']== 'good', 'quality'] = 'neutral'

In [9]:
df_x=train['comment']
df_y=train['quality']

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

(1641,)
(704,)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv = CountVectorizer(max_features = 1500)

X = cv.fit_transform(x_train)

In [13]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
clf.fit(X,y_train)
clf.score(X,y_train)

0.8312004875076173

In [14]:
tfidf_test = cv.transform(x_test)

In [15]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(tfidf_test )
accuracy_score(y_pred,y_test)

0.6463068181818182

In [16]:
import sklearn.metrics

In [17]:
print(sklearn.metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     neutral       0.73      0.85      0.79       322
     sadness       0.38      0.20      0.26       121
       worry       0.59      0.60      0.60       261

    accuracy                           0.65       704
   macro avg       0.57      0.55      0.55       704
weighted avg       0.62      0.65      0.63       704

In [18]:
y_pred = clf.predict(tfidf_test )
y_true=y_test


from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_true,y_pred)
cm

array([[274,   7,  41],
       [ 30,  24,  67],
       [ 71,  33, 157]], dtype=int64)

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

f, ax=plt.subplots(figsize=(5,5))
sns.heatmap(cm,annot=True,linewidths=0.5,linecolor="red",fmt=".0f",ax=ax)
plt.xlabel("y_pred")
plt.ylabel("y_true")
plt.show()

In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The pgf.debug rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

In [34]:
docs_new=["confusing professor to understand."]
#X_new_tfidf=tfidf_transformer.fit_transform(X_new_counts)
predicted=clf.predict(X_new_counts)
predicted[0]

'sadness'

In [45]:
with open('CountVectorizers.pickle','wb') as f:
    pickle.dump(cv,f)

In [46]:
with open('models.pickle','wb') as f:
    pickle.dump(clf,f)